files:  
  "c:\\newrelic\\newrelic.msi":  
    source: "https://download.newrelic.com/windows_server_monitor/release/NewRelicServerMonitor_x64_3.2.6.0.msi"  
  "c:\\newrelic\\newrelic_agent.msi":  
    source: "http://download.newrelic.com/dot_net_agent/release/NewRelicDotNetAgent_x64.msi"  
  "c:\\init_scripts\\rename_newrelic_display_name_if_necessary.ps1":  
    content: |  
      #stop newrelic service  
      Stop-Service -Name nrsvrmon;  
      $longName = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/hostname  
      $displayName = $longName.Split('.')[0].Replace("ip-", "");  
      $displayName = [string]::Format("{0}-{1}", $env:NewRelic_display_prefix, $displayName).Replace(" ", "-");  
      Set-ItemProperty -Path "HKLM:\SOFTWARE\New Relic\Server Monitor" -Name Host -Value $displayName  
      #start newrelic service  
      Start-Service -Name nrsvrmon;  
container_commands:  
  01_install_newrelic_srvmon:  
    command: "msiexec.exe /i c:\\newrelic\\newrelic.msi /L*v srvmon_install.log /qn NR_LICENSE_KEY=%NewRelic_license_key%"  
    waitAfterCompletion: 0  
  02_update_newrelic_display_name:  
    command: powershell -ExecutionPolicy RemoteSigned -File .\\rename_newrelic_display_name_if_necessary.ps1  
    cwd: c:\\init_scripts  
    waitAfterCompletion: 0 
  03_install_newrelic_agent:
    command: "msiexec.exe /q /i c:\\newrelic\\newrelic_agent.msi NR_LICENSE_KEY=%NewRelic_license_key% INSTALLLEVEL=1"
  04_iisreset:
    command: iisreset
